[submodule ".registry"]
	path = .registry
	url = https://github.com/mojaveazure/mojaveazure.r-universe.dev
	branch = HEAD
[submodule "BiocGenerics"]
	path = BiocGenerics
	url = https://github.com/Bioconductor/BiocGenerics
[submodule "DelayedArray"]
	path = DelayedArray
	url = https://github.com/Bioconductor/DelayedArray
[submodule "IRanges"]
	path = IRanges
	url = https://github.com/Bioconductor/IRanges
[submodule "MatrixGenerics"]
	path = MatrixGenerics
	url = https://github.com/Bioconductor/MatrixGenerics
[submodule "MetaboAnalystR"]
	path = MetaboAnalystR
	url = https://github.com/xia-lab/MetaboAnalystR
[submodule "S4Arrays"]
	path = S4Arrays
	url = https://github.com/Bioconductor/S4Arrays
[submodule "S4Vectors"]
	path = S4Vectors
	url = https://github.com/Bioconductor/S4Vectors
[submodule "Seurat"]
	path = Seurat
	url = https://github.com/satijalab/seurat
	branch = develop
[submodule "SeuratObject"]
	path = SeuratObject
	url = https://github.com/satijalab/seurat-object
[submodule "SparseArray"]
	path = SparseArray
	url = https://github.com/Bioconductor/SparseArray
[submodule "cbmc"]
	path = cbmc
	url = https://github.com/mojaveazure/cbmc
[submodule "ggseurat"]
	path = ggseurat
	url = https://github.com/mojaveazure/ggseurat
[submodule "mamisc"]
	path = mamisc
	url = https://github.com/mojaveazure/mamisc
[submodule "pbmc3k"]
	path = pbmc3k
	url = https://github.com/mojaveazure/pbmc3k
[submodule "pbmc3k.sce"]
	path = pbmc3k.sce
	url = https://github.com/mojaveazure/pbmc3k-sce
[submodule "remotes"]
	path = remotes
	url = https://github.com/mojaveazure/remotes
	branch = feat/install-version-binaries
[submodule "tiledb"]
	path = tiledb
	url = https://github.com/TileDB-Inc/TileDB-R
[submodule "tiledbsoma"]
	path = tiledbsoma
	url = https://github.com/single-cell-data/TileDB-SOMA
	subdir = apis/r
[submodule "tinyexpect"]
	path = tinyexpect
	url = https://github.com/mojaveazure/tinyexpect
