[submodule ".registry"]
	path = .registry
	url = https://github.com/mojaveazure/universe
	shallow = true
	branch = HEAD
[submodule "mamisc"]
	path = mamisc
	url = https://github.com/mojaveazure/mamisc
	shallow = true
	registered = true
