[submodule ".registry"]
	path = .registry
	url = https://github.com/mojaveazure/mojaveazure.r-universe.dev
	branch = HEAD
[submodule "Seurat"]
	path = Seurat
	url = https://github.com/satijalab/seurat
	branch = develop
[submodule "SeuratObject"]
	path = SeuratObject
	url = https://github.com/satijalab/seurat-object
	branch = develop
[submodule "ggseurat"]
	path = ggseurat
	url = https://github.com/mojaveazure/ggseurat
[submodule "mamisc"]
	path = mamisc
	url = https://github.com/mojaveazure/mamisc
[submodule "pbmc3k"]
	path = pbmc3k
	url = https://github.com/mojaveazure/pbmc3k
[submodule "pbmc3k.sce"]
	path = pbmc3k.sce
	url = https://github.com/mojaveazure/pbmc3k-sce
[submodule "remotes"]
	path = remotes
	url = https://github.com/mojaveazure/remotes
	branch = feat/install-version-binaries
[submodule "tiledb"]
	path = tiledb
	url = https://github.com/TileDB-Inc/TileDB-R
	branch = 0.24.0
[submodule "tiledbsoma"]
	path = tiledbsoma
	url = https://github.com/single-cell-data/TileDB-SOMA
	branch = ph/test/doublepin
	subdir = apis/r
[submodule "tinyexpect"]
	path = tinyexpect
	url = https://github.com/mojaveazure/tinyexpect
